html {
  scroll-behavior: smooth;
}

.navbar-brand {
  color: white;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

section {
  scroll-behavior: smooth;
}

.card-custom {
  max-height: 800px;
}

.card-img-about-me {
  overflow-y: hidden;
  object-position: center;
  object-fit: cover;
}

.footer.has-cards:before {
  top: 450px;
}

.footer.has-cards {
  padding-top: 400px;
}

.main-image-mobile {
  padding-bottom: 5rem !important;
}

@media screen and (max-width: 991px) {
  .hide-mobile {
    display:none;
  }

  .main-container-mobile {
    padding-top: 14rem !important;
    padding-bottom: 7rem !important;
  }
}

@media screen and (min-width: 992px) {
  .hide-desktop {
    display:none;
  }
}