<template>
  <header class="header-global">
    <base-nav class="navbar-main" transparent type="" effect="light" expand>
      <router-link slot="brand" class="navbar-brand mr-lg-5" to="/">
        <Logo />
        <span class="ml-lg-2">Bastien D.</span>
      </router-link>

      <!-- <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <base-dropdown class="nav-item" menu-classes="dropdown-menu-xl">
          <nuxt-link slot="title" to="/projects" class="nav-link" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Projects</span>
          </nuxt-link>
          <div class="dropdown-menu-inner">
            <router-link slot="brand" class="media d-flex align-items-center" to="/projects/avis-manga">
              <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                <i class="ni ni-spaceship"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">AvisManga</h6>
                <p class="description d-none d-md-inline-block mb-0">Manga reader made with flutter</p>
              </div>
            </router-link>
            <router-link slot="brand" class="media d-flex align-items-center" to="/projects/avis-manga">
              <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                <i class="ni ni-spaceship"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">AlexV2</h6>
                <p class="description d-none d-md-inline-block mb-0">Manga reader made with flutter</p>
              </div>
            </router-link>
          </div>
        </base-dropdown>
      </ul> -->
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.linkedin.com/in/bastien-douib/" target="_blank" rel="noopener"
            data-toggle="tooltip" title="Contact me on Linkedin">
            <i class="fa fa-linkedin"></i>
            <span class="nav-link-inner--text d-lg-none">Linkedin</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://gitlab.com/bastiendouib"
            target="_blank" rel="noopener" data-toggle="tooltip" title="See my Gitlab projects">
            <i class="fa fa-gitlab"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/Bleuh"
            target="_blank" rel="noopener" data-toggle="tooltip" title="See my Github projects">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="mailto:bastiendouib@gmail.com"
            class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-paper-plane mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Mail</span>
          </a>
        </li>
      </ul>
    </base-nav>
  </header>
</template>
<script>
  import BaseNav from "@/components/BaseNav";
  import BaseDropdown from "@/components/BaseDropdown";
  import CloseButton from "@/components/CloseButton";
  import Logo from "@/assets/logo.svg?inline";

  export default {
    components: {
      BaseNav,
      CloseButton,
      BaseDropdown,
      Logo
    }
  };

</script>
<style>
</style>
