<template>
  <div class="not-found">
    <app-header/>
    <nuxt/>
    <app-footer/>
  </div>
</template>

<script>
import AppHeader from '~/components/AppHeader.vue'
import AppFooter from '~/components/AppFooter.vue'

export default {
  components: {
    AppHeader,
    AppFooter
  }
}
</script>
<style>

.not-found .header-global .navbar .container .navbar-brand {
    color: black;
}

.not-found .header-global .navbar .container .nav-link {
    color: black;
}

.not-found .header-global .navbar .container .btn {
    background-color: black;
    border-color: black;
    color: white;
}

.not-found .header-global .navbar .container .btn:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    color: #5e72e4;
}
.not-found .container-error {
  font-family: sans-serif;
  text-align: center;
  height: calc(100vh - 150px);
  display: flex;
}
.not-found .container-error div {
    margin: auto;
}
.not-found h1 {
  font-size: 20px;
}
.not-found img {
    height: 250px;
}
.not-found footer {
    position: absolute !important;
    bottom: 0;
    width: 100vw;
}
</style>