<template>
  <div class="dark">
    <app-header/>
    <nuxt/>
    <app-footer/>
  </div>
</template>

<script>
import AppHeader from '~/components/AppHeader.vue'
import AppFooter from '~/components/AppFooter.vue'

export default {
  components: {
    AppHeader,
    AppFooter
  }
}
</script>
<style>
.dark .header-global .navbar .container .navbar-brand {
    color: black;
}

.dark .header-global .navbar .container .nav-link {
    color: black;
}

.dark .header-global .navbar .container .btn {
    background-color: black;
    border-color: black;
    color: white;
}

.dark .header-global .navbar .container .btn:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    color: #5e72e4;
}
</style>