<template>
  <div class="container-error">
    <div>
      <img src="img/sad.png"/>
      <h1 v-if="error.statusCode === 404">
          Page not found
      </h1>
      <h1 v-else>
          An error occurred
      </h1>
      <NuxtLink to="/">
          Home page
      </NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
  layout: '404',
  props: {
    error: {
      type: Object,
      default: null
    }
  }
}
</script>

<style>
</style>
