<template>
    <div>

        <div class="position-relative">
            <!-- shape Hero -->
            <section class="section-shaped my-0">
                <div class="shape shape-style-1 shape-default shape-skew">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="container shape-container d-flex main-container-mobile">
                    <div class="col px-0">
                        <div class="row">
                            <div class="col-lg-5 hide-desktop main-image-mobile">
                                <div class="px-5">
                                    <img src="img/avatar.jpeg" alt="" class="rounded-circle img-center img-fluid shadow shadow-lg--hover">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <h1 class="display-3  text-white">Passionate JavaScript Developer
                                    <span>Bastien DOUIB</span>
                                </h1>
                                <blockquote class="lead  text-white">
                                    <p class="lead">Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.</p>
                                    <cite>– Martin Golding</cite>
                                </blockquote>
                                <div class="btn-wrapper">
                                    <base-button tag="a"
                                                 href="/bastien-douib-cv.pdf"
                                                 download="bastien-douib-cv"
                                                 class="mb-3 mb-sm-0"
                                                 type="white"
                                                 icon="ni ni-cloud-download-95">
                                        Download resume
                                    </base-button>
                                </div>
                            </div>
                            <div class="col-lg-5 hide-mobile">
                                <div class="px-5">
                                    <img src="img/avatar.jpeg" alt="" class="rounded-circle img-center img-fluid shadow shadow-lg--hover">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 1st Hero Variation -->
        </div>
        <section class="section section-lg pt-lg-0 mt--200">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row row-grid">
                            <div class="col-lg-4">
                                <card class="border-0" hover shadow body-classes="py-5">
                                    <icon name="ni ni-money-coins" type="warning" rounded class="mb-4">
                                    </icon>
                                    <h6 class="text-warning text-uppercase">Project APP & API for plex</h6>
                                    <p class="description mt-3">Add functionality to plex, bring an optimal  experience for user.</p>
                                    <div>
                                        <badge type="warning" rounded>api</badge>
                                        <badge type="warning" rounded>node</badge>
                                        <badge type="warning" rounded>notification</badge>
                                    </div>
                                    <base-button tag="a" href="#plex" type="warning" class="mt-4">
                                        Learn more
                                    </base-button>
                                </card>
                            </div>
                            <div class="col-lg-4">
                                <card class="border-0" hover shadow body-classes="py-5">
                                    <icon name="ni ni-mobile-button" type="primary" rounded class="mb-4">
                                    </icon>
                                    <h6 class="text-primary text-uppercase">Avis Manga</h6>
                                    <p class="description mt-3">Manga reader made with flutter.<br/> End of school year project.</p>
                                    <div>
                                        <badge type="primary" rounded>flutter</badge>
                                        <badge type="primary" rounded>mobile</badge>
                                        <badge type="primary" rounded>manga</badge>
                                    </div>
                                    <base-button tag="a" href="#avis-manga" type="primary" class="mt-4">
                                        Learn more
                                    </base-button>
                                </card>
                            </div>
                            <div class="col-lg-4">
                                <card class="border-0" hover shadow body-classes="py-5">
                                    <icon name="ni ni-notification-70" type="success" rounded class="mb-4">
                                    </icon>
                                    <h6 class="text-success text-uppercase">AlexaV2</h6>
                                    <p class="description mt-3">Build a conversational agent with Firebase webhook.</p>
                                    <div>
                                        <badge type="success" rounded>voice</badge>
                                        <badge type="success" rounded>firebase</badge>
                                        <badge type="success" rounded>flow</badge>
                                    </div>
                                    <base-button tag="a" href="#alexav2" type="success" class="mt-4">
                                        Learn more
                                    </base-button>
                                </card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6">
                        <div class="card bg-default shadow border-0 card-custom">
                            <img src="img/about-me2.png" class="card-img-top card-img-about-me">
                            <blockquote class="card-blockquote">
                                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                                     class="svg-bg">
                                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                                </svg>
                                <h4 class="display-3 font-weight-bold text-white">Bastien DOUIB</h4>
                                <p class="lead text-italic text-white">I am 24 years old, I was born and I still live in Ile de France near Paris in France, I started to be interested in computer sciences very young.</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pl-md-5">
                            <icon name="ni ni-circle-08" class="mb-5" size="lg" type="primary" shadow rounded></icon>

                            <h3>About me</h3>
                            <p class="lead">My future had been drawn as a child. Nevertheless, I decided at first to get into electronics.</p>
                            <p>I did an electronics studies in my middle school. Building a lot of printed circuit board, I really enjoyed it. The fact inanimate objects build together given a computer was amazing.</p>
                            <p class="lead">I decide to take a sharp turn towards computer sciences.</p>
                            <p>It seem strange but after build my first card, I started the develop a little program for it, and I really enjoyed it, more that electronics.</p>
                            <p>I started a computer sciences school for 2 years. At the end of the last year, I discover web programming with PHP. I really liked how user is in central of web development. I decided to improve my skills with 3 years in school.</p>
                            <p>Here I am now, a motivated and blooming developer.</p>
                            <a href="https://www.linkedin.com/in/bastien-douib/" class="font-weight-bold text-primary mt-5">Learn more on my linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section section-shaped my-0 overflow-hidden" id="plex">
            <div class="shape shape-style-1 bg-gradient-warning shape-skew">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-0">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6 order-lg-2 ml-lg-auto">
                        <div class="position-relative pl-md-5">
                            <img src="img/ill/ill-2.svg" class="img-center img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="d-flex px-3">
                            <div>
                                <icon name="ni ni-user-run" size="lg" class="bg-gradient-white" color="primary" shadow
                                      rounded></icon>
                            </div>
                            <div class="pl-4">
                                <h4 class="display-3 text-white">Project for plex (WIP)</h4>
                                <p class="text-white">We use plex often with my friends. We develop together a large streaming service around him.</p>
                                <p class="text-white">One day, I realised that the plex app missing some fonctionnalites we needed. Here come from the idea to create a compagnon app for plex users.</p>
                            </div>
                        </div>
                        <card shadow class="shadow-lg--hover mt-5">
                            <div class="d-flex px-3">
                                <div>
                                    <icon name="ni ni-chart-bar-32" gradient="warning" color="white" shadow
                                          rounded></icon>
                                </div>
                                <div class="pl-4">
                                    <h5 class="title text-warning">API for plex</h5>
                                    <p>Before implement some solutions, I need to have access to a lot of data from plex. We have already a server available to receive an API. I decided to develop it with node js in Typescript.</p>
                                    <a href="https://github.com/Bleuh/hezflix-api" class="text-warning">See on github</a>
                                </div>
                            </div>
                        </card>
                        <card shadow class="shadow-lg--hover mt-5">
                            <div class="d-flex px-3">
                                <div>
                                    <icon name="ni ni-spaceship" gradient="success" color="white" shadow
                                          rounded></icon>
                                </div>
                                <div class="pl-4">
                                    <h5 class="title text-success">Flutter APP</h5>
                                    <p>I have lot of idea for the app, for example, system dashboard, plex new episode notifier, wishlist... Why flutter ? Because I have already made an app with flutter and really like it. It's fast and native, what else ?</p>
                                    <a class="text-success">Soon on github</a>
                                </div>
                            </div>
                        </card>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg" id="avis-manga">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6 order-md-2">
                        <img src="img/avismanga.png" class="img-fluid floating">
                    </div>
                    <div class="col-md-6 order-md-1">
                        <div class="pr-md-5">
                            <icon name="ni ni-mobile-button" class="mb-5" size="lg" type="primary" shadow
                                  rounded></icon>
                            <h3>Avis manga</h3>
                            <p>AvisManga is the first app I made for my end of school year project.</p>
                            <p>It is a hybrid application that connects manga readers. The idea is to be able to both read and comment on the manga via the app.</p>
                            <p>Why <a href="https://flutter.dev/" target="_blank">flutter</a> ? Because this allowed me to make a native, fast and ergonomic application easily.</p>
                            <ul class="list-unstyled mt-3">
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <badge type="primary" circle class="mr-3" icon="ni ni-books"></badge>
                                        <h6 class="mb-0">Read</h6>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <badge type="primary" circle class="mr-3" icon="ni ni-like-2"></badge>
                                        <h6 class="mb-0">Comment & share</h6>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <badge type="primary" circle class="mr-3" icon="ni ni-tag"></badge>
                                        <h6 class="mb-0">Discover</h6>
                                    </div>
                                </li>
                            </ul>
                            <a href="https://github.com/Bleuh/AvisManga" class="text-primary">See on github</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="section section-lg">
            <div class="container">
                <div class="row justify-content-center text-center mb-lg">
                    <div class="col-lg-8">
                        <h2 class="display-3">The amazing Team</h2>
                        <p class="lead text-muted">According to the National Oceanic and Atmospheric Administration,
                            Ted, Scambos, NSIDClead scentist, puts the potentially record maximum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="px-4">
                            <img v-lazy="'img/theme/team-1-800x800.jpg'"
                                 class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                                 style="width: 200px;">
                            <div class="pt-4 text-center">
                                <h5 class="title">
                                    <span class="d-block mb-1">Ryan Tompson</span>
                                    <small class="h6 text-muted">Web Developer</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button tag="a" href="#" type="warning" icon="fa fa-twitter" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="warning" icon="fa fa-facebook" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="warning" icon="fa fa-dribbble" rounded
                                                 icon-only></base-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="px-4">
                            <img v-lazy="'img/theme/team-2-800x800.jpg'"
                                 class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                                 style="width: 200px;">
                            <div class="pt-4 text-center">
                                <h5 class="title">
                                    <span class="d-block mb-1">Romina Hadid</span>
                                    <small class="h6 text-muted">Marketing Strategist</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button tag="a" href="#" type="primary" icon="fa fa-twitter" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="primary" icon="fa fa-facebook" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="primary" icon="fa fa-dribbble" rounded
                                                 icon-only></base-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="px-4">
                            <img v-lazy="'img/theme/team-3-800x800.jpg'"
                                 class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                                 style="width: 200px;">
                            <div class="pt-4 text-center">
                                <h5 class="title">
                                    <span class="d-block mb-1">Alexander Smith</span>
                                    <small class="h6 text-muted">UI/UX Designer</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button tag="a" href="#" type="info" icon="fa fa-twitter" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="info" icon="fa fa-facebook" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="info" icon="fa fa-dribbble" rounded
                                                 icon-only></base-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="px-4">
                            <img v-lazy="'img/theme/team-4-800x800.jpg'"
                                 class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                                 style="width: 200px;">
                            <div class="pt-4 text-center">
                                <h5 class="title">
                                    <span class="d-block mb-1">John Doe</span>
                                    <small class="h6 text-muted">Founder and CEO</small>
                                </h5>
                                <div class="mt-3">
                                    <base-button tag="a" href="#" type="success" icon="fa fa-twitter" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="success" icon="fa fa-facebook" rounded
                                                 icon-only></base-button>
                                    <base-button tag="a" href="#" type="success" icon="fa fa-dribbble" rounded
                                                 icon-only></base-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- <section class="section section-lg pt-0">
            <div class="container">
                <card gradient="warning"
                      no-body
                      shadow-size="lg"
                      class="border-0">
                    <div class="p-5">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="text-white">We made website building easier for you.</h3>
                                <p class="lead text-white mt-3">I will be the leader of a company that ends up being
                                    worth billions of dollars, because I got the answers. I understand culture.</p>
                            </div>
                            <div class="col-lg-3 ml-lg-auto">
                                <base-button tag="a" href="https://www.creative-tim.com/product/vue-argon-design-system"
                                             type="white" block size="lg">
                                    Download Vue
                                </base-button>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
        </section> -->
        <section class="section section-shaped my-0 overflow-hidden" id="alexav2">
            <div class="shape shape-style-3 bg-gradient-default shape-skew">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container pt-lg pb-300">
                <div class="row text-center justify-content-center">
                    <div class="col-lg-10">
                        <h2 class="display-3 text-white">Alexa v2</h2>
                        <p class="lead text-white">Build a conversational agent with Firebase webhook. As example, this webhook will tell you the 3 most popular games on Twitch in french language. Code annotated with <a href="https://flow.org/en/" target="_blank">Flow</a>.</p>
                        <a href="https://github.com/Bleuh/AlexaV2">See on github</a>
                    </div>
                </div>
                <div class="row row-grid mt-5">
                    <div class="col-lg-4 align-text-center">
                        <icon name="ni ni-sound-wave" size="lg" gradient="white" shadow round color="primary"></icon>
                        <h5 class="text-white mt-3">Dialogue flow</h5>
                        <p class="text-white mt-3">Simple to use, dialogue flow is the best utility I found to try my online function by voice and text.</p>
                    </div>
                    <div class="col-lg-4">
                        <icon name="ni ni-ruler-pencil" size="lg" gradient="white" shadow round color="primary"></icon>
                        <h5 class="text-white mt-3">Firebase cloud function</h5>
                        <p class="text-white mt-3">Firebase give me access to an online function stateless that can interact like an API.</p>
                    </div>
                    <div class="col-lg-4">
                        <icon name="ni ni-atom" size="lg" gradient="white" shadow round color="primary"></icon>
                        <h5 class="text-white mt-3">Flow annotation & unit test</h5>
                        <p class="text-white mt-3">Flow allows me to type my JS code before deploy it on my cloud function, I added unit test for more stability.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg pt-lg-0 section-contact-us">
            <div class="container">
                <div class="row justify-content-center mt--300">
                    <div class="col-lg-8">
                        <card gradient="secondary" shadow body-classes="p-lg-5">
                            <h4 class="mb-1">Want to work with me?</h4>
                            <p class="mt-0">Your interest is very important.</p>
                            <form>
                                <base-input alternative addon-left-icon="ni ni-email-83">
                                        <input class="form-control form-control-alternative" name="email" placeholder="Email address" ref="email" required/>
                                </base-input>
                                <base-input class="mb-4">
                                        <textarea class="form-control form-control-alternative" name="text" rows="4"
                                                cols="80" placeholder="Type a message..." ref="text" required></textarea>
                                </base-input>
                                <base-button type="default" round block size="lg" @click.prevent="sendEmail()"  id="sendbutton">
                                    Send Message
                                </base-button>
                            </form>
                        </card>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "home",
  components: {},
  methods: {
    sendEmail: function() {
        if (this.$refs.email.value !== '' && this.$refs.text.value !== '') {
            axios({
              method: 'post',
              url: 'https://bleuhsendemail.herokuapp.com/',
              crossdomain: true,
              data: {
                from: 'portfolio@hezflix.com',
                subject: `From ${this.$refs.email.value}`,
                text: this.$refs.text.value
              }
            }).then((response) => {
                if (response.status === 200) {
                    alert('Your message has been sent !')
                    const sendbutton = document.getElementById('sendbutton');
                    sendbutton.innerHTML = "Message sent";
                    sendbutton.disabled = true;
                } else {
                    alert('An error occurred during sending.')
                }
            }).catch((error) => {
                alert('An error occurred during sending.')
            })
        } else {
            alert('Please complete all fields on the form.')
        }
    }
  }
};
</script>
